*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  margin: 0;
}

body {
  background: #f9f9fa;
}
.add-list-block {
  border: 1px solid #cccccc;
}
.creator {
  position: absolute;
  top: 20%;
  right: -140px;
  transform: translate(-50%, -50%);
}
.saveTask{
  border: 1px solid rgb(218, 218, 218);
  display: inline-block;
  list-style: none;
  margin: 20px;
  font-weight: 500;
}
ol li{
  padding: 5px 40px 10px 10px;
  min-width: 15rem
}

